<p class = "artist_title">Artists</p>


<% @artists.each do |artist| %>

  <div class = "artist_block">
    <div class= "artist_index_name"><%= link_to artist.name.upcase, artist %></div>
    <div><%= link_to image_tag(artist.get_index_profile_image), artist %></div>

    <% if can? :create, @artist %>
      <%= link_to 'Edit', edit_artist_path(artist) %>
      <%= link_to 'Destroy', artist, method: :delete %>
    <%end%>
  </div>
<% end %>



