

  <div class="search_bar">
    <%= search_form_for @q do |f| %>
      <p>
        <%= f.text_field :name_cont, :class => "search_bar_text_field", :placeholder => "ARTIST" %>
        <%= f.submit "Find", :class => "search_bar_button"%>
      </p>
    <% end %>
  </div>

<div class = "ebtsb">
  <div class = "section">
    <div class = "pic_container">
        <% @artists.each do |artist| %>
        <div class= "pic_row">
          
          <%= link_to image_tag(artist.get_index_profile_image), artist %>
          <%#= link_to artist.name.upcase, artist %>
        
        </div>
        <%end%>
    </div>
  </div>
</div>

  





