.global_header_block{
  position: fixed;
  display: inline-block;
  background-color: black;
  font-family: Gill Sans, Sans-Serif;
  color: white;
  right:0px;
  top:0px;
  height:55px;
  width: 100%;
  border-bottom: 1px solid #121212;
}

.left_sidebar{
  position: absolute;
  top: 405px;
  bottom: 0px;
  width: 150px;
  left: 0px;
  padding: 25px 45px;
  background-color: white;
}
.left_sidebar_scrollable{
  position: absolute;
  width: 200px;
}


.cover_image {
   width: 100%;
   height: 350px;



   border: 1px solid #000;
   border-color: rgba(0,0,0,0.25);
   border-top-color: rgba(0,0,0,0.1);
}
.content{

}