h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', Georgia, Times, serif;
}

ul {
  margin: 0;
}
p, div {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

a{
  text-decoration: none;
  color: black;
}

.title{
  font-family: 'Lato', Georgia, Times, serif;
  font-size: 6em;
  font-weight: bold;
  margin: 40px 0px 60px 0px;
  text-decoration: none;
}

.title:hover{
  background-color: white;
}

.title a{
  color:black;
}

body{
  background-color: white;
  margin: 0px;
}
.fixed_top {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index:99;
}

.ebth{
  padding-top: 190px; 
}

nav{
  background-color: white;
  border-top: 3px dashed black;
  padding-top: 10px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;

  text-decoration: none;
}

.title a:hover{
  background-color: transparent;
  text-decoration: none;
}

nav li{
  display: inline-block;
  font-size: 1.2em;
  color:block;
}

nav li a:visited{
  color:black;
}

nav li a:hover{
  color:#666;
  background-color: white;
}
nav a{
  color:black;
}

nav a.visited{
  color: black;
}

nav .right {
  left:auto;
  right: -1px;
  top:-5px;
}

.log_in_sign_up{
  /*text-align: right;*/
  float:right;
  position: relative;
  top: -20px;
  right: 20px;
}

.nav_bar_links a{
  padding: 0px 15px;
  list-style: none;
}

.search_bar{
  position:fixed;
  text-align: center;
  height:55px;
  width: 100%;
  background-color: white;
  z-index: 30;
}

.search_bar_text_field{
  background: #eee;
  padding:10px;
  /* border-radius:10px 0 0 10px;
  -moz-border-radius:10px 0 0 10px;
  -webkit-border-radius:10px 0 0 10px;
  -o-border-radius:10px 0 0 10px;*/
  border:0 none;
  width:350px;
  height:30px;
  font-size: 1em;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  text-align: right;
}

.search_bar_button{
  background:black;
  color:white;
  font: 'Raleway', sans-serif;
  padding:10px 20px;
  /*border-radius:0 10px 10px 0;
  -moz-border-radius:0 10px 10px 0;
  -webkit-border-radius:0 10px 10px 0;
  -o-border-radius:0 10px 10px 0*/;
  border:0 none;
  font-weight:bold;
  font-size: 1em;
  cursor: pointer;
  height:50px;
  width:85px;
  margin-left: 5px;
}

.ebtsb{
  padding-top: 110px;
}



.pic_container{
  width: 1500px;
  height: 225px;
}

.pic_row{
  float:left;
  margin-right: 5px;
}

.section{
  position: fixed;
  width: 1500px;
  display: inline-block;
  padding: 15px 15px;
  margin: 0 auto;
  white-space:nowrap; 
  overflow: scroll;
  left: 35px;
}

.homepage_image{
  float: left;
  height: 240px;
  width: 75%;
  margin: 3.2%;
  text-align:center;
  border: 7px solid white;
}

.left_sidebar{
  position: fixed;
  top: 230px;
  bottom: 0px;
  width: 250px;
  left: 0px;
  padding: 25px 45px;
  background-color:rgba(255,0,0,0.5);
  height:100%;
  z-index:50;
  
}

.left_sidebar_text{
  font-size: 1.5em;
  color:black;
  padding-top: 15px;
}
.left_sidebar_text div{
  padding-bottom: 5px;
}

.edit_profile_page a{
  font-size: 1.5em;
  text-decoration: underline;
  color: white;

}




.songs_group{
  margin-left: 295px;
  margin-right: 35px;
  padding-left: 65px;
}

.cover_image {
   width: 100%;
   height: 350px;
   border: 1px solid #000;
   border-color: rgba(0,0,0,0.25);
   border-top-color: rgba(0,0,0,0.1);
}

.profile_image{
  padding-top: 10px;
}


.song_header{
font: 5em;
}

.song_index_header{
   font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 15px;
}

.song_title_on_artist_page{
  font-size: 3em;
  font-family: 'Lato', Georgia, Times, serif;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 65px;
}

.add_new_song_link{
  color:black;
  text-decoration: underline;
  font-size: 2em;
}

/*.add_new_song_link:visited{
  color:white;
}
*/
.add_new_song_link:hover{
  color:#fff;
}

.add_a_comment_link{
  color:white;
  background-color: black;
  font-size: 1.5em;
}
.add_a_comment_link:visited{
  color:white;
}
.add_a_comment_link:hover{
  color:black;
  background-color: white;
}



.songs_group{
  margin-top: 20px;

}

.clear {
  clear: both;
}

img[alt='Default_song_image'] {
  width: 100px;
}


.artist_title{
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 15px;
}

.artist_block{
  display:inline-block;
  padding: 25px;
}

.artist_index_name{
  font-size: 1em;
  text-align: left;
  font-family: "lato", sans-serif;
  font-weight: bold;
}


.song_name{
  font-family: "Lato",sans-serif;
  font-size: 2em;
  padding-top: 15px;
}

audio{
  margin-bottom: 25px;
  margin-left: 10px;
}



.comments{
  margin:15px;
}










